body {
    background-color: #E6EFF6;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#root {
    position: relative;
    top: 25vh;
    margin: auto;
    width: 700px;
    font-size: 16px;
    border-radius: 12px;
    overflow: hidden;
}

.top {
    position: relative;
    background-color: white;
    padding: 40px;
}

#toph2 {
    color: #37ABA7;
}

#h4 {
    color: #BFDF32;
}

#p1 {
    color: #9FA4AA;
}

.bottom {
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
}

.bottom-left {
    position: relative;
    width: 50%;
    background-color: #2cb3b3;
    padding: 40px;
    color: white;
}

#blh1 {
    margin-top: 0px;
}

.bottom-left-subcontent {
    display: flex;
}

#p21 {
    font-size: 36px;
    font-style: bold;
    margin: 0px;
}

#p22 {
    text-align: center;
    margin: 0px;
    padding-top: 12px;
}

#blbutton1 {
    position: relative;
    border: 0px;
    width: 100%;
    height: 40px;
    margin: auto;
    background-color: #BFDF32;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    
}

#blbutton1:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.bottom-right {
    position: relative;
    width: 50%;
    background-color: #4ABEBD;
    padding: 40px;
    color: white;
}

#brh1 {
    margin-top: 0px;
}